@import url("components/hero_image.css");
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/carousel.css");
@import url("components/contact-form.css");
@import url("components/experience-list.css");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

header a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

header a:hover {
  color: #fff;
  opacity: 0.7;
}

.text-center {
  text-align: center;
  letter-spacing: 4px;
}

.background-dark {
  background: #23232e;
  color: #fff;
}
